################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StaticPageGeneration/bin
/StaticPageGeneration/packages/
/StaticPageGeneration/obj
/StaticPageGeneration/.vs

/protocol/
