
html
    {
    overflow: auto;
    }
body
    {
    margin: 12pt 12pt;
    background-color: white;
    font-family: Arial;
    color: darkgreen;
    }

table
    {
    width: 100%;
    }
td
    {
    vertical-align: top;
    }

table.TOC
    {
    margin: 0pt;
    padding : 0pt;
    }
td.TOCHead, td.TOCEntry
    {
    margin: 0pt;
    padding : 0pt;
    }
p.TOCHead
    {
    margin: 12pt 0pt;
    text-align: justify;
    font-size: 14pt;
    font-weight: bold;
    }
p.TOC1
    {
    margin: 1.5pt 0pt;
    text-align: left;
    font-size: 12pt;
    }
p.TOC2
    {
    margin: 1.5pt 0pt 1.5pt 12pt;
    text-align: left;
    font-size: 12pt;
    }
p.TOC1Retired
    {
    margin: 1.5pt 0pt;
    text-align: left;
    font-size: 12pt;
    background-color: silver;
    }
p.TOC2Retired
    {
    margin: 1.5pt 0pt 1.5pt 12pt;
    text-align: left;
    font-size: 12pt;
    background-color: silver;
    }

table.List1, table.List2, 
table.Retired1, table.Retired2, 
table.CaseList1, table.CaseList2, 
table.Bare
    {
    margin: 0;
    padding: 0;
    font: menu;
    }
table.List1
    {
    border: 1pt solid darkblue;
    background-color: white;
    }
table.List2
    {
    border: 1pt solid darkgreen;
    background-color: lightyellow;
    }
table.Retired1, table.Retired2
    {
    border: 1pt solid gray;
    background-color: silver;
    }
td.PadTop, td.PadBottom
    {
    height: 3pt;
    }
p.BoxHead1, p.BoxHead2
    {
    margin: 1pt;
    padding: 1.5pt 6pt;
    color: white; 
    background-color: darkblue;
    }
p.CaseHead1, p.CaseHead2
    {
    padding: 1.5pt 6pt;
    color: white; 
    background-color: darkblue;
    }
p.BoxDesc
    {
    margin: 0pt 6pt 3pt 6pt; 
    text-align: justify;
    }
p.Align
    {
    margin: 2pt 6pt;
    padding: 1.5pt 6pt;
    background-color: darkblue;
    color: white;
    }
tr.SeqHeader
    {
        background-color: WhiteSmoke;
    }
td.FieldType
    {
    }
td.FieldName
    {
    }
td.FieldDesc
    {
    width: 60%;
    }

td.SeqRowSep
    {
    height: 0pt;
    /* Uncomment the following line to hide the separators between rows: */
    /* display: none; */
    }
p.SeqRowSep
    {
    margin: 0;
    border: 1pt solid darkblue;
    }

td.FieldRowSep
    {
    height: 0pt;
    /* Uncomment the following line to hide the separators between rows: */
    /* display: none; */
    }
p.FieldRowSep
    {
    margin: 0 6pt;
    border: 1pt solid darkblue;
    }

p.FieldType
    {
    margin-left: 6pt;
    padding: 1pt 3pt 1pt 0pt;
    }
p.FieldName
    {
    padding: 1pt 3pt 1pt 3pt;
    color: red;
    }
p.FieldDesc
    {
    margin-right: 6pt;
    padding: 1pt 0pt 1pt 3pt;
    text-align: justify;
    }

td.NestedTable
    {
    padding: 3pt 6pt 3pt 6pt;
    }

td.CaseVal1, td.CaseVal2
    {
    border: 1pt solid;
    padding: 3pt 3pt;
    font-weight: bold;
    color: darkblue;
    }
td.CaseVal1
    {
    border-color: darkblue;
    }
td.CaseVal2
    {
    border-color: darkgreen;
    }
p.CaseVal1, p.CaseVal2
    {
    text-align: right;
    }
td.CaseFields1, td.CaseFields2
    {
    width: 100%;
    }

td.ValueRowSep
    {
    height: 0pt;
    /* Comment out the following line to display separators between rows: */
    display: none;
    }
p.ValueRowSep
    {
    margin: 0 6pt;
    border: 1pt solid darkblue;
    }

td.ValueVal
    {
    }
td.ValueName
    {
    }
td.ValueDesc
    {
    width: 100%;
    }
p.ValueVal
    {
    margin: 1pt 1pt 0pt 6pt;
    border: 1pt solid darkblue;
    padding: 1pt 3pt;
    font-weight: bold;
    color: darkblue;
    text-align: right;
    }
p.ValueName
    {
    margin: 1pt 6pt 0pt 1pt;
    border: 1pt solid darkblue;
    padding: 1pt 3pt;
    text-align: justify;
    }
p.ValueDesc
    {
    margin: 1pt 6pt 0pt 1pt;
    border: 1pt solid darkblue;
    padding: 1pt 3pt;
    text-align: justify;
    }

p.Prompt
    {
    font-size: 10pt;
    }

p.Version
    {
    margin-top: 6pt;
    font-size: 8pt;
    color: gray;
    }

span.TypeRef
    {
    font-weight: bold;
    }

a:active
    {
    color: darkgreen;
    text-decoration: underline;
    }
a:link
    {
    color: midnightblue;
    text-decoration: none;
    }
a:visited
    {
    color: midnightblue;
    text-decoration: none;
    }
a:hover
    {
    color: midnightblue;
    text-decoration: underline;
    }

